# Xilinx ISE project, cache, and report files
*.gise
*.xise
*.ncd
*.pad
*.csv
*.xml
*.html
*.bgn
*.bit
*.drc
*.lso
*.ngc
*.ngd
*.ngr
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.xpi
*.xwbt
*.cpj
*.par
*.stx
*.ngm
*.bld
*.mrp
*.syr
*.xrpt
*.cmd_log
*.prj
*.tcl
*.log
*.placed
*.unrouted
*.map
*.drc
*.wcfg

# Directories
_ngo/
_xmsgs/
xst/
xlnx_auto_0_xdb/
isim/
planAhead_run*/
